@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:25% 25% 50%;
    grid-template-rows: 20% 60% 20%;
    background-color: #ededed;
}
.left-top-left{
    padding: 20px;
}
.sqare{
    width: 25px;
    height: 25px;
    background-color: black;
    rotate: 45deg;
}

.left-top-right{
    padding: 20px;
}
.left-top-right h4{
    justify-self: end;
    margin-bottom: 15px;
    font-size: 25px;
}
.left-top-right h5{
    justify-self: end;
    font-size: 15px;
    
}

.center{
    /* background-color: aqua; */
    padding-top:3.5vh;
    padding-left: 2vw;
    grid-column: 1/3;
}
.center h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 89%;
    font-weight: 400;
}
.center h1:nth-child(2n){
    justify-self: center;
}
.center h1:nth-child(4){
    margin-top: 15px;
}
.bottom{
    /* background-color:yellow; */
    grid-column: 1/3;
}
.bottom h5{
    padding: 25px 30px;
    font-size: .8vw;
}
.right{
    /* background-color: violet; */
    grid-column: 3;
    grid-row: 1/4;
    padding-right:50px;
    padding: 20px;
}
.right video{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 20px;
}